/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, ../assets/libs-css/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../assets/libs-css/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../assets/libs-css/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../assets/libs-css/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../assets/libs-css/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, ../assets/libs-css/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../assets/libs-css/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, ../assets/libs-css/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, ../assets/libs-css/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../assets/libs-css/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, ../assets/libs-css/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, ../assets/libs-css/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, ../assets/libs-css/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, ../assets/libs-css/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../assets/libs-css/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../assets/libs-css/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../assets/libs-css/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, ../assets/libs-css/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, ../assets/libs-css/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, ../assets/libs-css/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, ../assets/libs-css/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../assets/libs-css/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../assets/libs-css/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../assets/libs-css/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../assets/libs-css/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../assets/libs-css/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../assets/libs-css/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../assets/libs-css/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../assets/libs-css/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../assets/libs-css/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../assets/libs-css/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../assets/libs-css/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, ../assets/libs-css/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, ../assets/libs-css/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, ../assets/libs-css/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, ../assets/libs-css/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, ../assets/libs-css/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, ../assets/libs-css/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, ../assets/libs-css/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../assets/libs-css/_normalize.scss */
td,
th {
  padding: 0;
}

/* Base stuff: variables, typography */
/* line 12, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  margin: 24px 0;
}

/* line 17, ../sass/_typography.scss */
h1 {
  font-weight: 700;
}

/* line 21, ../sass/_typography.scss */
p {
  margin: 24px 0;
}

/* line 25, ../sass/_typography.scss */
body {
  color: #17337b;
  font-size: 106.25%;
  line-height: 1.41176em;
  font-family: "Libre Baskerville", serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 21, ../sass/_base.scss */
html {
  box-sizing: border-box;
}

/* line 24, ../sass/_base.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 30, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 33, ../sass/_base.scss */
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* line 37, ../sass/_base.scss */
.container .content {
  padding: 10px 25px;
}

/* Layouts */
/* line 18, ../sass/layouts/_layout-center.scss */
.layout-center {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
/* line 29, ../sass/layouts/_layout-center.scss */
.layout-center--shared-grid {
  padding-left: 0;
  padding-right: 0;
}

/* line 7, ../sass/layouts/_layout-2column.scss */
.layout-2column {
  margin-left: -20px;
  margin-right: -20px;
  display: table;
}
/* line 13, ../sass/layouts/_layout-2column.scss */
.layout-2column__col-x {
  display: table-cell;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 19, ../sass/layouts/_layout-2column.scss */
.layout-2column__col-x:not(.plain):nth-child(2n+1) {
  border-right: 1px solid #88d3db;
}

/* Components */
/* line 3, ../sass/components/_header.scss */
.header {
  background-image: url("../assets/images/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
/* line 10, ../sass/components/_header.scss */
.header__image {
  display: block;
}

/* line 12, ../sass/components/_title.scss */
.title--medium {
  font-size: 32px;
  line-height: 48px;
  color: #17337b;
}

/* line 19, ../sass/components/_title.scss */
.title--highlighted {
  color: #fff;
  text-shadow: 0px 0px 4px #e6e6e6;
  font-size: 55px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

/* line 3, ../sass/components/_content.scss */
.content {
  background-image: url("../assets/images/content-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  position: relative;
}
/* line 11, ../sass/components/_content.scss */
.content__inner {
  background: url("../assets/images/content-clouds-left.png") 32px 226px, url("../assets/images/content-clouds-left.png") 90% 211px, url("../assets/images/content-emphasis.png") center top;
  background-repeat: no-repeat;
  background-size: auto, auto ,cover;
  position: relative;
}
/* line 21, ../sass/components/_content.scss */
.content__page {
  background: url("../assets/images/content-circle.png") center top no-repeat;
  max-width: 770px;
  margin: 0 auto;
}
/* line 27, ../sass/components/_content.scss */
.content__countdown {
  padding: 60px 0 90px 0;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  color: #88d3db;
}
/* line 35, ../sass/components/_content.scss */
.content__drupal {
  position: absolute;
  bottom: -70px;
  left: 50%;
  margin-left: -103.5px;
}
/* line 42, ../sass/components/_content.scss */
.content__flying {
  position: absolute;
  top: 315px;
  left: 5px;
  width: 315px;
}
/* line 49, ../sass/components/_content.scss */
.content__airplane {
  background: url("../assets/images/content-airplane.png") center top no-repeat;
  width: 184px;
  height: 96px;
  float: left;
}
/* line 56, ../sass/components/_content.scss */
.content__mas-psekazoune {
  background: url("../assets/images/content-mas-psekazoune.png") center top no-repeat;
  width: 116px;
  height: 32px;
  float: right;
  margin-left: 15px;
  margin-top: 54px;
}

/* line 3, ../sass/components/_save-the-date.scss */
.save-the-date {
  width: 306px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 9, ../sass/components/_save-the-date.scss */
.save-the-date:after {
  content: '';
  background-image: url("../assets/images/save-the-date__social-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 202px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -101px;
  -webkit-transform: rotate(180deg);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(180deg);
  /* IE 9 */
  transform: rotate(180deg);
  /* IE 10, Fx 16+, Op 12.1+ */
}
/* line 26, ../sass/components/_save-the-date.scss */
.save-the-date__date {
  padding-top: 48px;
}
/* line 30, ../sass/components/_save-the-date.scss */
.save-the-date__title {
  font-weight: 700;
  color: #0275bb;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin: 10px 0;
}
/* line 39, ../sass/components/_save-the-date.scss */
.save-the-date__location {
  font-style: italic;
  font-size: 20px;
  color: #17337b;
  position: relative;
}
/* line 45, ../sass/components/_save-the-date.scss */
.save-the-date__location:before, .save-the-date__location:after {
  content: '';
  width: 76px;
  position: absolute;
  height: 2px;
  background-color: #17337b;
  top: 10px;
  left: 0;
}
/* line 55, ../sass/components/_save-the-date.scss */
.save-the-date__location:before {
  left: auto;
  right: 0;
}
/* line 61, ../sass/components/_save-the-date.scss */
.save-the-date__social {
  background-image: url("../assets/images/save-the-date__social-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 80px;
}
/* line 68, ../sass/components/_save-the-date.scss */
.save-the-date__social-link {
  display: inline-block;
  margin: 17px 0;
}
/* line 72, ../sass/components/_save-the-date.scss */
.save-the-date__social-link p {
  margin: 0;
}
/* line 77, ../sass/components/_save-the-date.scss */
.save-the-date__social-link--twitter {
  position: relative;
  top: 5px;
}

/* line 3, ../sass/components/_newsletter.scss */
.newsletter {
  background-color: #0275bb;
  background-image: url("../assets/images/newsletter-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
/* line 12, ../sass/components/_newsletter.scss */
.newsletter__title {
  margin-top: 132px;
  margin-bottom: 35px;
}
/* line 17, ../sass/components/_newsletter.scss */
.newsletter__text {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  margin-bottom: 35px;
}
/* line 25, ../sass/components/_newsletter.scss */
.newsletter__form {
  position: relative;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 100px;
}
/* line 32, ../sass/components/_newsletter.scss */
.newsletter__email {
  padding: 26px 24px;
  font-size: 14px;
  line-height: 14px;
  width: 360px;
  border: 0;
  border-bottom: 1px solid #88d3db;
  color: #0275bb;
}
/* line 41, ../sass/components/_newsletter.scss */
.newsletter__email::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #0275bb;
}
/* line 45, ../sass/components/_newsletter.scss */
.newsletter__email:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0275bb;
  opacity: 1;
}
/* line 50, ../sass/components/_newsletter.scss */
.newsletter__email::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0275bb;
  opacity: 1;
}
/* line 55, ../sass/components/_newsletter.scss */
.newsletter__email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0275bb;
}
/* line 60, ../sass/components/_newsletter.scss */
.newsletter__submit {
  width: 33px;
  height: 22px;
  border: 0;
  background: url("../assets/images/submit.jpg");
  text-indent: -66666px;
  position: absolute;
  z-index: 10;
  top: 24px;
  right: 24px;
}

/* line 3, ../sass/components/_social.scss */
.social {
  color: #fff;
  text-align: center;
  overflow: hidden;
  background-image: url("../assets/images/footer-left-bg.jpg"), url("../assets/images/footer-right-bg.jpg"), url("../assets/images/footer-center-bg.jpg");
  background-position: left top, right top, center top;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
/* line 11, ../sass/components/_social.scss */
.social a {
  color: #88d3db;
}
/* line 15, ../sass/components/_social.scss */
.social__title {
  margin-top: 100px;
  margin-bottom: 35px;
}
/* line 20, ../sass/components/_social.scss */
.social__text {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  margin-bottom: 35px;
  margin-top: 35px;
}
/* line 28, ../sass/components/_social.scss */
.social__text--small {
  font-size: 15px;
}
/* line 33, ../sass/components/_social.scss */
.social__copy {
  font-size: 11px;
  letter-spacing: -0.1px;
  margin: 35px 0;
}
/* line 39, ../sass/components/_social.scss */
.social__copyright {
  text-align: left;
}
/* line 43, ../sass/components/_social.scss */
.social__devs {
  text-align: right;
}
/* line 47, ../sass/components/_social.scss */
.social__link {
  display: inline-block;
  width: 102px;
  height: 94px;
  position: relative;
}
/* line 53, ../sass/components/_social.scss */
.social__link img {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
/* line 63, ../sass/components/_social.scss */
.social__link--facebook {
  background: white;
}
/* line 67, ../sass/components/_social.scss */
.social__link--twitter {
  background: #0275bb;
}
