@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,600,300,400italic,600italic);

$heading-font:						'Montserrat', arial, sans-serif;
$body-font:							'Source Sans Pro', arial, sans-serif;


h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}
h1 {
	font-weight: 700;

}

p, span, a {
	font-family: $body-font;
	margin: 24px 0;
	line-height: 24px;
}
