// The header component.

.header {
  background-image: url('../assets/images/header-bg.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  &__image {
    display: block; // To get rid of the bottom spacing.
    margin: 0 auto;
  }
}