// The save-the-date component

.save-the-date {
  width: 306px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &:after {
    content: '';
    background-image: url('../assets/images/save-the-date__social-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 202px;
    height: 10px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -101px;
    // @todo Do prefixes more elegantly.
    -webkit-transform: rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
  }

  &__date {
    padding-top: 48px;
  }

  &__title {
    font-weight: 700;
    color: #0275bb;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: -2.5px;
    margin: 10px 0;
  }

  &__location {
    font-style: italic;
    font-size: 20px;
    color: $blue-dark;
    position: relative;

    &:before,
    &:after {
      content: '';
      width: 76px;
      position: absolute;
      height: 2px;
      background-color: $blue-dark;
      top:10px;
      left: 0;
    }
    &:before {
      left: auto;
      right: 0;
    }
  }

  &__social {
    background-image: url('../assets/images/save-the-date__social-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 80px;
  }

  &__social-link {
    display: inline-block;
    margin: 17px 0;

    p {
      margin: 0; // As the widgets contain p tags.
    }
  }

  &__social-link--twitter {
    position: relative;
    top: 5px;
  }
}